[req]
distinguished_name = dname
req_extensions = req_ext
prompt = no

[ dname ]
CN = zeyadhabib.com
C = IE
ST = Dublin
L = Dublin
O = ZSEC
OU = ZORGMINI
emailAddress = zeyadhabib02@fake.com

[ req_ext ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, nonRepudiation
extendedKeyUsage = serverAuth, clientAuth
subjectKeyIdentifier=hash
subjectAltName = @sans
certificatePolicies= 1.2.4.5.6.7
authorityInfoAccess = OCSP;URI:http://ocsp.myCA/
authorityInfoAccess = caIssuers;URI:http://myCA/ca.cer

[sans]
DNS.1 = zeyad.client.com
DNS.2 = zeyad.habib.client.com